<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IBDService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:50110/BDService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IBDService" contract="WSEncomiendaBD.IBDService"
                name="BasicHttpBinding_IBDService" />
        </client>
    </system.serviceModel>
</configuration>