<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>

  <connectionStrings>
    <add     name= "Windows_AUT"
             providerName =  "System.Data.SqlClient"
             connectionString="Data Source=DESKTOP-7P3VD5M\JUSTINPC;
                                   Initial Catalog = DB_SISTEMA_ENCOMIENDAS;
                                   Integrated Security=True;"
        />

    <add     name= "SQL_AUT"
         providerName =  "System.Data.SqlClient"
         connectionString="Data Source=DESKTOP-7P3VD5M\JUSTINPC;
                                   Initial Catalog = DB_SISTEMA_ENCOMIENDAS;
                                   Persist Security Info=True;
                                   user id = sa;
                                   Password = 12345;"
        />
  </connectionStrings>

  <system.web>
    <compilation debug="true" />
  </system.web>
  <!-- Al implementar el proyecto de la biblioteca de servicios, el contenido del archivo de configuración se debe agregar al archivo 
  app.config del host. La configuración del sistema no admite archivos de configuración en las bibliotecas. -->
  <system.serviceModel>
    <services>
      <service name="SVC.Contracts.BDService">
        <endpoint binding="basicHttpBinding" bindingConfiguration=""
          contract="SVC.Interfaces.IBDService" />
        <endpoint address="mex" binding="mexHttpBinding" bindingConfiguration=""
          contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/SVC/Contracts/BDService/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- Para evitar revelar información de los metadatos, 
          establezca los valores siguientes en false antes de la implementación -->
          <serviceMetadata httpGetEnabled="True" httpsGetEnabled="True"/>
          <!-- Para recibir detalles de las excepciones en los fallos, con el fin de poder realizar la depuración, 
          establezca el valor siguiente en true. Para no revelar información sobre las excepciones 
          establézcalo en false antes de la implementación -->
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

</configuration>
